@font-face {
  font-family: "Pokemon";
  src: url("../assets/font/Pokemon-Solid.ttf");
}

.header-container {
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  z-index: 1;
}

.main-container {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header,
.main {
  max-width: 73rem;
  margin: 0 auto;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-logo {
  cursor: pointer;
  height: 80px;
}

.scoreboard {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: right;
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 2rem;
  width: 100%;
}

.btn-toggle-music {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 2;
  bottom: 10px;
  left: 10px;
}

.btn-toggle-music img {
  height: 80%;
}
