.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  gap: 30px;
  cursor: pointer;
}

.card-image {
  height: 100px;
}

.card-name {
  font-size: 1.5rem;
}
